body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image:url("jess-bailey-q10VITrVYUM-unsplash.jpg");
    font-family: sans-serif;
    background-size: cover;
    background-position: bottom;
    font-family: sans-serif;
    


}

.menu{
    height: 100vh;
    width: 100vw;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    list-style: none;





}
.logo{
    color: rgb(35, 15, 15);
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 35px;
    cursor: pointer;



}
span{
    color: rgb(219, 13, 64);


}
nav ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 25px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;



}
.btn{
    background-color: brown;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 1opx 25px;
    border-radius: 30px;
    transition: transform .4s ;



}
.btn:hover{
    transform: scale(1.2);


}
nav ul li a:hover{
    color: aliceblue;
    transition: 0.4s;



    
}
h1{
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 4rem;
    align-items: center;
    color: aliceblue;



}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: brown;
    opacity: .8;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(25, 16, 3);
    opacity: .8;


}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(231, 95, 11);


}

                                       
